__pycache__/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

.mypy_cache/
# Ignore virtual environment directories
venv/
.cursor

.DS_Store
*-stack.yaml